<div class="container">
    <mat-card class="shape">
        <div class="row ">
            <div class="col-md-12">
                <div class="text-left col pl-4 d-flex align-items-center">
                    <span class="d-flex">
                        <h4 class="card-category fcsize inline-block heading">Security Settings</h4>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-5">
            <div class="col-md-7">
                <form [formGroup]="passwordresetForm" (ngSubmit)="reset_password()" class="mb-5">
                    <div class="addmoreformcontrols">
                        <mat-form-field appearance="outline">
                            <mat-label>Old password</mat-label>
                            <input matInput placeholder="Old Password" type="password" formControlName="old_password"
                                [type]="hide ? 'password' : 'text'">
                            <button style="height: 1px;" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordresetForm.controls['old_password'].invalid ">
                                <div *ngIf="passwordresetForm.controls['old_password'].errors.required">
                                    Old password is required
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>New password</mat-label>
                            <input matInput placeholder="New Password" formControlName="new_password"
                                [type]="hide1 ? 'password' : 'text'">
                            <button style="height: 1px;" mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordresetForm.controls['new_password'].invalid ">
                                <div *ngIf="passwordresetForm.controls['new_password'].errors.required">
                                    New password is required
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <div class="dis mb-5">
                            <div class="text-center">
                                <button mat-raised-button color="primary" type="submit">Close </button>
                            </div>
                            &nbsp;&nbsp;
                            <div class="text-center">
                                <button mat-raised-button color="primary" type="submit">Reset Password </button>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </mat-card>
</div>