.dis{
     display: inline-flex;
}
.shape {
     margin-top: 5%;
   }
   .addmoreformcontrols {
     height: 100px;
     width: 100%;
   }
   ::ng-deep mat-form-field {
     width: 100%;
   }
   .heading{
     color:  #676883;
     font-size: 18px;
     font-weight: 600;
     }