
<div class="container">
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
    <div class="row">
      <div class="col mt-5">
        <h3 class="fnsz">Visitors log 1</h3>
      </div>
    </div>
    <div class="row ">
    <div class="col-md-4 mb-3">
    
  
      <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start'
       [endDate]='end' (change)="getDater($event)"></ejs-daterangepicker>
      
    </div>
    <div class="col text-right company">
      <!-- <mat-form-field appearance="none">
        <mat-label>Select company</mat-label>
        <mat-select  name="selected_company" (selectionChange)="selected_company($event.value)">
          <mat-option  [value]="''">
            ----select company----
          </mat-option>
          <mat-option *ngFor="let company of companieslist" [value]="company.compcode">
            {{company.companyname}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->


      <!-- <mat-form-field appearance="none">
        <mat-label>Select company</mat-label>
        <mat-select   (click)="filterChange($event.value)" [(ngModel)]="selected_company">
          <mat-option  [value]="''">
            ----select company----
          </mat-option>
          <mat-option *ngFor="let company of companieslist" [value]="company.compcode">
            {{company.companyname}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

     


    </div>
    </div>
  
    <div class="table-responsive">
  
  
      <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
        <ng-container matColumnDef="fromcompname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> From  Company</th>
          <td mat-cell *matCellDef="let element"> {{element.namej}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="tocompname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> To Company </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let company of companieslist">
  
  
              <div *ngIf="company.compcode==element.company_code ">
                {{company.companyname}}
              </div>
            </div>
          </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="menmbers">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No of visitors </th>
          <td mat-cell *matCellDef="let element"> {{element.members}} </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="vechileno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vechile No </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicle_number}} </td>
        </ng-container>
  
        <!-- Inactive/active toggle -->
        <ng-container matColumnDef="visitdate">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element">
            {{element.visit_date}}
          </td>
        </ng-container>
  
        <!-- Inactive/active toggle -->
        <ng-container matColumnDef="visittime">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let element">
            {{element.visit_time|convertFrom24To12Format}}
          </td>
        </ng-container>
        <!-- Inactive/active toggle -->
        <ng-container matColumnDef="checked">
          <th mat-header-cell *matHeaderCellDef> Checkin/Checkout </th>
          <td mat-cell *matCellDef="let element">
              <div *ngIf="element?.checkin == null && element?.checkout==null">
                - / -

              </div>
             

          </td>
        </ng-container>

        <ng-container matColumnDef="checkin">
          <th mat-header-cell *matHeaderCellDef> Check-in Time </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.checkin != null">
              {{element?.checkin|convertFrom24To12Format}}
                 
            </div>
            <div *ngIf="element?.checkin==null">
              
              -
           </div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="checkout">
          <th mat-header-cell *matHeaderCellDef> Check-out Time </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element?.checkout != null">
              {{element?.checkout|convertFrom24To12Format}}
                 
            </div>
            <div *ngIf="element?.checkout==null">
              
                 -
            </div>
          </td>
        </ng-container>
        
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator #paginator [pageSizeOptions]="[5, 10]"
      [pageSize]="5"
      showFirstLastButtons></mat-paginator> -->
      <!-- <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
    [pageIndex]="currentPage" >
</mat-paginator> -->
      <mat-paginator #paginator  [length] = "count"  [pageSizeOptions]="pageSizeOptions" 
        (page)="getPageLimit($event)"></mat-paginator>

      <!-- <div class="nodata text-center " *ngIf="!data?.length">
        <div class="d-flex justify-content-center align-items-center mt-5 container">
          <img src="../../assets/images/SuperAdmin/undraw_empty_xct9.svg" alt="" height="" width="30%">
        </div>
        <h3>No Data </h3>
      </div> -->
    </div>
  </div>