<div class="container">
    <div class="row d-flex  justify-content-center  align-items-center" style="height: 100vh;">
      <div class="col-md-5 p-5">
        <mat-card>
          <div>
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>password:</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <input class="pointer" matInput [type]="hide ? 'password' : 'text'"
                        formControlName="newPassword" placeholder="Enter New Password">
                    <mat-error *ngIf="newPassword.touched && newPassword.invalid">
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>confirm password:</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <input class="pointer" matInput type="password" [type]="hide1 ? 'password' : 'text'"
                        formControlName="confirmPassword" placeholder="Enter Confirm Password">
                    <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                    </mat-error>
                </mat-form-field>
            
            <br>
            <button mat-raised-button style="background-color: #1E3F59;color: #fff;font-size: 16px;" class="btn"
                (click)="reset()">Reset</button>
        </form>
          </div>
        </mat-card>
      </div>
    </div>


