<div>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div class="card">
                    <div class="row">
                     <div class="col text-center">
                         <h3 style="color: gray;">Reset your password here</h3>
                     </div>
                    </div>
                    <form [formGroup]="passwordresetForm" (ngSubmit)="reset_password()" class="m-5 p-3">
                        <!-- <div class="row"> -->
            
                            <!-- <div class="col text-center"> -->
                                <mat-form-field>
                                    <input matInput placeholder="Enter new password"type="password" formControlName="password">
                                    <mat-error *ngIf="passwordresetForm.controls['password'].invalid ">
                                        <div *ngIf="passwordresetForm.controls['password'].errors.required">
                                            Password is required
                                        </div>
                                        
                                    </mat-error>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <input matInput placeholder="confirm password" type="password" formControlName="cpassword">
                                    <mat-error *ngIf="passwordresetForm.controls['cpassword'].invalid ">
                                        <div *ngIf="passwordresetForm.controls['cpassword'].errors.required">
                                            Password is required
                                        </div>
                                        
                                    </mat-error>
                                </mat-form-field>
                                <br>
            
                                <div class="text-center mt-5">
                                    <button mat-raised-button color="primary" type="submit">Reset Password </button>
                                </div>
                            <!-- </div> -->
            
                        <!-- </div> -->
            
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
