@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

.w3layouts-main{
    background-image: url('../../assets/images/LoginPage/bg.jpg');
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
    background-attachment: fixed;
    position: relative;
	min-height: 100vh;
}

.bg-layer {
    background: rgba(0, 0, 0, 0.7);
	min-height: 100vh;
}


/* card */
.card{

    background: white;
    /* margin-top: 500px; */
    -webkit-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    /* position: fixed; */
    /* height: 50%; */
    
    margin: 0 auto;
}


  

// .input-group-text{
    // border-left: 0;
    // border-top: 0;
    // border-bottom: 0;
    // border-right: 0;
    // background-color: transparent;

    //  }
/* card */

// ::placeholder {
//     // color: ghostwhite;
//     opacity: 1; /* Firefox */
//   }
  
//   :-ms-input-placeholder { /* Internet Explorer 10-11 */
//    color: ghostwhite;
//   }
  
//   ::-ms-input-placeholder { 
    //   /* Microsoft Edge */
//    color: ghostwhite;
//   }
  .i{
      color:gray;
  }

  .form-control:focus{
    border-color:#38d39f;
    box-shadow: 0 0 0 0.2rem rgba(135, 238, 187, 0.25);
  }



  .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	// background-color: #38d39f;
	transition: .4s;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

button{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
} 

.shadow{
    color: black;
}

// .form-control{
    // border: 1px solid ;
    // transition: none;
// }
.btn-success{
    border-color: silver;
    // background-color: transparent;
}