.loginImg {
  margin-top: 15%;
}
.feild {
  width: 60%;
}
.heading {
  margin-right: 45%;
  position: relative;
  margin-bottom: 0;
  color: rgb(37, 37, 124);
}
.txt {
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
.txt1 {
  margin-top: 0.5em;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
.avatar {
  margin-top: 20%;
}
@media only screen and (max-width: 600px) {
  .heading {
    margin-right: 45%;
    position: relative;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .heading {
    margin-right: 43%;
    position: relative;
    margin-bottom: 0;
  }
  .avatar {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 1400px) {
  .avatar {
    margin-top: 10%;
  }
  .heading {
    margin-right: 34%;
    position: relative;
    margin-bottom: 0;
  }
}
